body{
    padding-left: 5%;
    padding-top: 9%;
}
.header{
    position:fixed;
    top:4%;
    display:inline-flex;
    flex-direction: row;
    z-index: 1;
}
.thumbnail,.logo1,.logo2{
    padding-right: 5%;
    font-size: 30px;
    margin-bottom: 0px;
    margin-top: 0px;
}
img{
    height:30px;
    object-fit: contain;
}
.logo1{
    color: gray;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.logo2{
    color:rgb(233, 90, 8);
    font-family: Georgia, 'Times New Roman', Times, serif;
}
/*header ends*/
/*main begins*/
.main{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.postcontent{
    position: relative;
    margin-bottom: 5%;
}
.createpost{
    position: fixed;
    bottom:8%;
    right:10%;
    left:65.5%;
    color: rgb(138, 138, 138);
    box-shadow: 0px 4px 15px grey;
    border-radius: 15px;
    border-style: none;
    font-size: 18px;
}
.postheader{
    box-shadow: 0px 4px 15px grey;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-style: none;
    font-size: 18px;
    padding-bottom: 4%;
    display: flex;
    flex-direction: row;
    padding-left: 5%;
    padding-top: 4%;
}
.postfooter{
    position: relative;
    box-shadow: 0px 0px 15px grey;
    border-style: none;
    font-size: 18px;
    padding-bottom: 4%;
    display: flex;
    flex-direction: row;
    padding-left: 5%;
    padding-top: 4%;

}
.postimg{
    height: 100%;
    width: 100%;
    margin-bottom: 0px;
}
.posticon{
    height:30px;
    border-radius: 100%;
}

.tab{
    position: fixed;
    top: 10%;
    right:10%;
    left:65.5%;
    color: rgb(138, 138, 138);
    box-shadow: 0px 4px 15px grey;
    border-radius: 15px;
    border-style: none;
    font-size: 18px;
    padding-bottom: 4%;
}
.top{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between ;
    background-image: linear-gradient(to right, rgba(255,0,0,1),rgb(255,0,0,0));
    color: white;
    font-size: 28px;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 4%;
    padding-bottom: 4%;
    padding-left: 8%;
    box-sizing: border-box;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    width: 100%
}
.signouticon{
    position: absolute;
    right:5px;
    top:44px;
    padding-right: 20px;
}
.showicon{
    position: absolute;
    right:10px;
    top: 15px;
    
}
.thumb{
    position: absolute;
    left: 25px;
    top:15px;
}
.likes{
    position: absolute;
    left:60px;
    top:15px;
    font-size: 25px;
}
.profile{
    vertical-align: top;
    padding-top: 12.5%;
    display: flex;
    flex-direction: row;
    padding-left: 8%;
}
#p1,#p2,.myp,.mya,.myc,.p3,.likes{
    margin-top: 0px;
    margin-bottom: 0px;
}
.profileicon{
    border-radius: 100%;
    height:70px;
}
.profilename{
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 15px;
    padding-left: 8%;
}
#p2{
    color: black;
}
.p3{
    padding-left: 4%;
    padding-top: 1%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.des{
    font-family:Arial, Helvetica, sans-serif;
    padding-top: 10%;
    padding-left: 10%;
    padding-bottom: 5%;
    font-size: small;
    padding-right: 5%;
    font-weight: normal;
}
.mypostbutton,.mysaved{
    display: flex;
    flex-direction: row;
    justify-content:left;
    padding-left: 10%;
    padding-top: 2%;
}
.createpost{
    display: flex;
    flex-direction: row;
    padding-top: 1%;
    padding-left: 2%;
    padding-bottom:0.5%;
    padding-right: 1%;
}
.myp,.mya,.myc{
    font-size: 25px;
    padding-left: 4%;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: lighter;
}
